<app-toolbar></app-toolbar>
<div class="content">
  <h2 style="text-align: center; font-weight: bold;">Listado de Productos</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>title</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>category</th>
      <td mat-cell *matCellDef="let element">{{ element.category }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef>brand</th>
      <td mat-cell *matCellDef="let element">{{ element.brand }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="img">
      <th mat-header-cell *matHeaderCellDef>Imagen</th>
      <td mat-cell *matCellDef="let element">
        <img style="width: 50px;" [src]="element.images && element.images.length>0 ? element.images[0] : null">
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <div fxLayout="row" fxLayoutAlign="start start">
          <a matTooltip="Editar" mat-button (click)="getProductById(element.id, i)">
            <mat-icon>edit</mat-icon>
          </a>
          <a matTooltip="Eliminar" mat-button (click)="deleteProduct(element.id, i)">
            <mat-icon>delete</mat-icon>
          </a>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
  </mat-paginator>
</div>