<mat-toolbar color="primary" class="app-header">
  <div><img src="assets/dms.png" style="width: 80px;"></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="/clients" routerLinkActive="active">Clientes</a>
    <a mat-button routerLink="/products" routerLinkActive="active">Productos</a>
    <a mat-button routerLink="/shopper" routerLinkActive="active">Compras</a>
    <a mat-button routerLink="/sales" routerLinkActive="active">Ventas</a>
    <a mat-button routerLink="/form" routerLinkActive="active">Formulario Prueba</a>
    <a mat-button (click)="finishSession()">
      <mat-icon matTooltip="Finalizar sesión">power_settings_new</mat-icon>
    </a>
  </span>
</mat-toolbar>